APP_NAME="Конвертер"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

NBRB_API_BASE_URL=https://api.nbrb.by/exrates
NBRB_RATE_TTL_SECONDS=21600

DB_DATABASE=database/database.sqlite
LOG_LEVEL=warning
